:root{
    font-family: "Comic Sans MS", "Comic Sans",sans-serif;
    --color1:#b5dad5;
    --color2:#7b887c;
    --color3:#c294696c;
    --color4:#201915;
    --color5:hsl(2, 89%, 56%);
    --color6:#0c0b0b;
    --border-radius:none;
    --border-template:10px solid;
  }
  * {
    margin: 15px;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    background-color: rgb(17, 17, 17);
  }
  #tituloprincipal{
    margin-top: -5px;
    color: rgb(231, 95, 16) ;
    text-shadow: 5px 5px yellow;
    font-size: 3rem;}
  
  header {
    min-height: 35vh;
    margin-top: 50px;
    background-image: url(./assets/design1_image1.jpg);
    background-position: 0 -100px;
    /* object-fit: cover; */
  }
  header img {
    width: 15%;
      border-radius: 50%;
  }
  
  h1 {
    position: absolute;
    top: 0;
    font-style: italic;
    margin-left: 10px;
    font-size: 40px;
  }
  
  nav{
    min-height: 5vh;
    padding: 0.5rem;
    display: inline-block;
    position: fixed;
    right: 20px;
    top: 30px;
    
  }
  

  a {
    padding: 5px 10px;
    margin-left: 10px;
    background-color: rgb(221, 108, 55);
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 15px;
  }
  
  nav a:hover {
    background-color: rgb(253, 196, 38);
  }
  
  nav a:active {
    background-color: rgb(253, 196, 38);
  }
  
  nav a:focus {
    background-color: rgb(253, 196, 38);
  }
  

/* //////////////MAIN//////////////////// */

main {
    background-color: rgba(150, 129, 121, 0.445);
    flex-grow: 5;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 

.lineup-img {
    height: 40vw;
}

.entradas-lineup {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    justify-content: space-around;
}

/* /////////////TABLA ///////////////////*/

table {
    background-color: aliceblue;
    height: 50vh;
    width: 40rem;
    table-layout: auto;
    border-spacing: 15px;
    border-collapse: collapse;
    /* empty-cells: hide; */
    caption-side: bottom;
}

table, th, td {
    border: 5px solid;
    border-color: rgb(7, 7, 7);
    text-align: center;
}

th {
    background-color: rgb(24, 18, 18);
    color: aliceblue;
    padding-bottom: 5px;
    padding-top: 5px;
}

tr:nth-child(even) {
    background-color: rgb(230, 171, 62);
    color: aliceblue;
}

tr:hover {
    background-color: #ec563ce5;
}

h2 {
    background-color: rgba(231, 202, 70, 0.808);
    text-align: center;
    padding: 8px;
    font-size: 25px;
    font-weight: bold;
  }

